.propertyofgroup_no_image {
	border:1pt solid #CCCCCC;
	color:#999999;
	padding:70px 20px 20px;
	height:80px;
	width:180px;
	cursor: pointer;
	cursor: hand;
}

.property_separator {
	background: #EEEEEE; 
	margin-bottom: 10px;
}

#property_details_container {
	padding: 10px;
	min-width: 750px;
}

#propnav_container {
	min-width: 750px;
}

.propnav {
	float: left; 
	padding-right: 4px; 
	padding-top: 16px; 
	width: 16%; 
	min-width: 116px; 
	height: 61px;
	cursor: pointer;
	cursor: hand;
}

.propnav_disabled {
	float: left; 
	padding-right: 4px; 
	padding-top: 16px; 
	width: 16%; 
	min-width: 116px; 
	height: 61px;
}

.propnav_disabled  a, .propnav_disabled  a:hover {
	color: #CCCCCC;
	cursor: default;
}

#propnav_tour {
	background: url(../images/btn_property_tour.png) no-repeat; 
	width: 15%; 
	min-width: 112px; 
}

#propnav_tour_disabled {
	background: url(../images/btn_property_tour_disabled.png) no-repeat; 
	width: 15%; 
	min-width: 112px; 
}

#propnav_map {
	background: url(../images/btn_property_map.png) no-repeat; 
}

#propnav_email {
	background: url(../images/btn_property_email.png) no-repeat; 
}

#propnav_email_disabled {
	background: url(../images/btn_property_email_disabled.png) no-repeat; 
}

#propnav_calendar {
	background: url(../images/btn_property_calendar.png) no-repeat; 
	min-width: 112px; 
}

#propnav_calendar_disabled {
	background: url(../images/btn_property_calendar_disabled.png) no-repeat; 
	min-width: 112px; 
}

#propnav_save {
	background: url(../images/btn_property_save.png) no-repeat; 
}

#propnav_save_disabled {
	background: url(../images/btn_property_save_disabled.png) no-repeat; 
}

#propnav_print {
	background: url(../images/btn_property_print.png) no-repeat; 
}

.property_featured_bkgnd {
	background: #0066CC;
	padding: 5px 5px 5px 0px;
}

.property_featured_bkgnd_over {
	background: #004E9C;
	padding: 5px 5px 5px 0px;
	cursor: pointer;
	cursor: hand;
}

.property_featured_listing_bkgnd {
	background: #FFFFFF;
}

.property_bkgnd {
	background: #D1D1D1;
	padding: 5px;
}

.property_bkgnd_over {
	background: #AEAEAE;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
}

.property_listing_bkgnd {
	background: #FFFFFF;
}

.property_bkgnd_primary {
	background: #EFEFEF;
	border: 1pt solid #D1D1D1;
	padding: 5px;
	margin-bottom: 5px;
}

.property_highlights_bkgnd {
	border: 1pt solid #D1D1D1;
	background: #FFFFFF;
	padding: 5px;
}

.property_image {
	margin-bottom:5px;
	margin-left:5px;
	max-height:200px;
	overflow:hidden;
}

.property_no_image {
	border:1pt solid #666666;
	cursor:pointer;
	cursor:hand;
	height:50px;
	margin-bottom:5px;
	margin-left:5px;
	padding:60px 38px 40px;
	text-align:center;
	width:120px;
}

.property_details_image {
	margin-left: 5px;
}

.property_details_no_image {
	text-align: center; 
	border: 1pt solid #666666; 
	padding-top: 80px; 
	padding-left: 55px; 
	padding-right: 55px; 
}

.property_media {
	margin-bottom: 15px;
}


#images #horizontal_carousel {
  width: 900px;
  height: 278px;
}

#images #horizontal_carousel .carousel_container {
  width: 815px;
}

#images #horizontal_carousel div.carousel_holder {
  height: 278px;
}                      

#images #horizontal_carousel div.carousel_holder div.carousel_item {
  width: 815px;
  height: 278px;
}

#images #horizontal_carousel div.previous_button {
  height: 278px;
  background: url(../images/btn_property_pic_left.png) center no-repeat;
}     

#images #horizontal_carousel div.previous_button_over {
  background: url(../images/btn_property_pic_left_over.png) center no-repeat;
} 

#images #horizontal_carousel div.previous_button_disabled {
  background: url(../images/btn_property_pic_disabled.png) center no-repeat;
}         

#images #horizontal_carousel div.next_button {
  height: 278px;
  background: url(../images/btn_property_pic_right.png) center no-repeat;
}
  
#images #horizontal_carousel div.next_button_over {
  background: url(../images/btn_property_pic_right_over.png) center no-repeat;
} 

#images #horizontal_carousel div.next_button_disabled {
  background: url(../images/btn_property_pic_disabled.png) center no-repeat;
}         
  
div.carousel_itemGadget {
  min-height: 278px;
}
div.carousel_itemCode {
  min-height: 278px;
}

#add_page {
    width: 130px;
}

#filter_options {
    float: left;
    vertical-align: top;
}

#editor {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editor-preview {
    width: 100%;
    display: none;
}

#previewContent br {
    display: block;
}

#advanced_form {
    display: none;
}

#display_form {
    display: none;
}

/* New menu */
#left_menu {
    background: #fff url(../images/right_menu_bg.png) top left repeat-x;
    border: 1px solid #babdb6;
    margin: 0.5em;
    width: 10em;
    font-size: 85%;
}

#left_menu ul {
    list-style: none;
    padding: 0.5em;
    margin: 0;
}

#left_menu ul li {
    padding: 0.3em 0;
    margin: 0 0 0.3em 0;
    border-bottom: 1px solid #babdb6;
    text-align: left;
}

#left_menu ul li:last-child {
    border-bottom: 0;
}

#left_menu ul li a {
    width: 100%;
    display: block;
    color: #666;
    text-decoration: none;
}

#left_menu ul li a:hover {
    color: #000;
}
/* Ends */
