<!-- BEGIN post_text -->
<!-- BEGIN table_start -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
<!-- END table_start -->
<!-- BEGIN row_start -->
							<tr>
<!-- END row_start -->
<!-- BEGIN anchor -->
								<td colspan="1" Height="0%" style="padding: 0px; margin: 0px; font-size: 0.0001em;"><a name="{anchor_title}">&nbsp;</a></td>
							</tr>
							<tr>
<!-- END anchor -->
<!-- BEGIN header -->
								<td colspan="1" class="blog-post-header blog-post-header-{evenodd}" id="blog-post-header-{id}" onclick="showPost({id}); location.href='#{anchor_title}';"><a href="javascript:void(0);" onclick="showPost({id}); location.href='#{anchor_title}';"><span class="blog-post-headerTitle" id="blog-post-headerTitle-{id}" style="font-weight: bold;">{title}</span></a>&nbsp;&nbsp;<span class="blog-post-timestamp" id="blog-post-timestamp-{id}">{timestamp}</span></td>
							</tr>
							<tr>
<!-- END header -->
								<td style="vertical-align: top;" colspan="1" border="0" class="blog-post-text blog-post-{evenodd}" id="blog-post-text-{id}">
<!-- BEGIN title -->
									<h2 id="blog-post-title-{id}" class="blog-post-title">{title}&nbsp;&nbsp;</h2>
									<div class="blog-post-timestamp" id="blog-post-timestamp-{id}">{timestamp}</div>
									<div style="float: none; clear: both; font-size: 0.0001em; height: 0px;"></div>
<!-- END title -->
<!-- BEGIN splash -->
									{splash_html}
<!-- END splash -->
<!-- BEGIN description -->
									<p align="left" style="">{content}</p>
<!-- END description -->
								</td>
<!-- BEGIN row_end -->
							</tr>
<!-- END row_end -->
<!-- BEGIN table_end -->
						</tbody>
					</table>
<!-- END table_end -->
<!-- END post_text -->

<!-- BEGIN post_gadget -->
<!-- BEGIN table_start1 -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
<!-- END table_start1 -->
<!-- BEGIN table_end -->
							</tr>
						</tbody>
					</table>
<!-- END table_end -->
					<div width="100%" class="blog-post-{type}" id="blog-post-{type}-{id}">
						<style>
						#layout_{gadget_action}_title {
							display: none;
						}
						</style>
						{content}
					</div>
<!-- BEGIN table_start2 -->
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
<!-- END table_start2 -->
<!-- END post_gadget -->