<!-- BEGIN comment -->
<p class="news-update news-blog-update" style="padding-top: 5px; text-align: left; display: block;" id="news-blog-update-{entry_id}" align="left">
	<a title="{safe_title}" name="{safe_title}" href="{entry_url}">
	<img style="text-align: left; margin-right: 10px; margin-bottom: 10px; max-width: 80px; max-height: 80px;" class="news-update-icon news-blog-update-icon" id="news-blog-update-{entry_id}-icon" src="{icon}" alt="{safe_title}" align="left" />
	</a>
	<strong><a title="{safe_title}" name="{safe_title}" href="{entry_url}">{entry_title}</a></strong>
	<br />{entry_description}<br />
</p>
<!-- END comment -->