<!-- BEGIN msgbox-wrapper -->
   <div id="msgbox-wrapper">
   <!-- BEGIN msgbox -->
   <div id="msgbox_{msg-id}" class="{msg-css}">{msg-txt}</div>
    <script type="text/javascript">
		var msgbox=$('msgbox_{msg-id}');if((msgbox.className!='error-message')&&(msgbox.className!='warning-message')&&(window.hideResponseBox)){hideResponseBox(msgbox);};
    </script>
   <!-- END msgbox -->
   </div>
<!-- END msgbox-wrapper -->
<!-- BEGIN properties_admin -->
{menubar}
<div>
<form action="{base_script}" name="Admin" onsubmit="searchPropertyParent(); return false;" method="post">
<input type="hidden" name="gadget" value="Properties" />
<input type="hidden" name="action" value="{account}Admin" />
<div id="workarea">
<table style="width: 100%;">
  <tr>
    <td id="filter_options">
      <nobr><label for="status">{status}</label>{status_field}&nbsp;{search_field}&nbsp;{search}</nobr>
    </td>
  </tr>
  <tr>
	<td>
      <div style="width: 100%;" id="datagrid">{entries}</div>
    </td>
  </tr>
</table>
</div>
<div style="text-align: right;" align="right">
	<table style="text-align: right; empty-cells: hide;" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="100%">&nbsp;</td>
			<td width="0%">{add_propertyparent}</td>
		</tr>
	</table>
</div>
</form>
</div>
      <script type="text/javascript">
	  Event.observe(window, "load",function(){getPropertyParentData();});
      </script>
<!-- {menubar} -->
<!-- <div id="datagrid"> -->
<!--     {grid} -->
<!-- </div> -->
<!-- <div id="datagridTools"> -->
<!--     {tools} -->
<!-- </div> -->
<!-- <script type="text/javascript"> -->
<!--     initDataGrid('properties_datagrid', new propertiesadminajax); -->
<!-- </script> -->
<!-- END properties_admin -->

<!-- BEGIN amenities_admin -->
{menubar}
<form action="{base_script}" name="Admin" onsubmit="searchAmenity(); return false;" method="post">
<input type="hidden" name="gadget" value="Properties" />
<input type="hidden" name="action" value="Admin" />
<div id="workarea">
<table style="width: 100%;">
  <tr>
    <td id="filter_options">
      <label for="status">{status}:</label>{status_field}&nbsp;{search_field}&nbsp;{search}
    </td>
  </tr>
  <tr>
	<td>
      <div style="width: 100%;" id="datagrid">{entries}</div>
    </td>
  </tr>
</table>
</div>
<div style="text-align: right;" align="right">
	<table style="text-align: right; empty-cells: hide;" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="100%">&nbsp;</td>
			<td width="0%">{add_amenity}</td>
		</tr>
	</table>
</div>
</form>
      <script type="text/javascript">
	  Event.observe(window, "load",function(){getAmenityData();});
      </script>
<!-- {menubar} -->
<!-- <div id="datagrid"> -->
<!--     {grid} -->
<!-- </div> -->
<!-- <div id="datagridTools"> -->
<!--     {tools} -->
<!-- </div> -->
<!-- <script type="text/javascript"> -->
<!--     initDataGrid('amenities_datagrid', new propertiesadminajax); -->
<!-- </script> -->
<!-- END amenities_admin -->

<!-- BEGIN amenity_types_admin -->
{menubar}
<form action="{base_script}" name="Admin" onsubmit="searchAmenityType(); return false;" method="post">
<input type="hidden" name="gadget" value="Properties" />
<input type="hidden" name="action" value="Admin" />
<div id="workarea">
<table style="width: 100%;">
  <tr>
    <td id="filter_options">
      <label for="status">{status}:</label>{status_field}&nbsp;{search_field}&nbsp;{search}
    </td>
  </tr>
  <tr>
	<td>
      <div style="width: 100%;" id="datagrid">{entries}</div>
    </td>
  </tr>
</table>
</div>
<div style="text-align: right;" align="right">
	<table style="text-align: right; empty-cells: hide;" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="100%">&nbsp;</td>
			<td width="0%">{add_amenity_types}</td>
		</tr>
	</table>
</div>
</form>
      <script type="text/javascript">
	  Event.observe(window, "load",function(){getAmenityTypeData();});
      </script>
<!-- {menubar} -->
<!-- <div id="datagrid"> -->
<!--     {grid} -->
<!-- </div> -->
<!-- <div id="datagridTools"> -->
<!--     {tools} -->
<!-- </div> -->
<!-- <script type="text/javascript"> -->
<!--     initDataGrid('amenity_types_datagrid', new propertiesadminajax); -->
<!-- </script> -->
<!-- END amenity_types_admin -->

<!-- BEGIN gadget_property -->
{menubar}
<script type="text/javascript">
    var confirmPostDelete    = "{confirmPostDelete}";
    var confirmPropertyDelete    = "{confirmPropertyDelete}";
    var confirmRssHide    = "{confirmRssHide}";
</script>
<div {workarea-style}id="workarea">
		{content}
</div>
<!-- END gadget_property -->
<!-- BEGIN settings -->
{menubar}
<div align="center">
<form action="{base_script}" method="post" onsubmit="return false;">
<input type="hidden" name="gadget" value="Properties" />
<input type="hidden" name="action" value="SaveSettings" />
<fieldset style="width: 300px; display: block;">
	<legend>{settings}</legend>
	<div style="padding: 5px;">
	<strong>{key_label}</strong> {key_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{keyc_label}</strong> {keyc_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key0_label}</strong> {key0_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key1_label}</strong> {key1_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key2_label}</strong> {key2_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key3_label}</strong> {key3_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key4_label}</strong> {key4_entry}
	</div>
	<div style="padding: 5px;">
	<strong>{key5_label}</strong> {key5_entry}
	</div>
</fieldset>
<div style="padding: 5px;">
{status_limit}
</div>
{save_button}
</form>
</div>
<!-- END settings -->