<!-- BEGIN Settings -->
<style type="text/css">
.main-item {
    text-decoration: none;
    margin: 1px;
    padding: 4px;
    color: #000;
    font-size: small;
    display: block;
    border: 1px solid #fff;
    text-align: center;
}

.main-item:hover {
    background-color: #f7f7f7;
    color: #888a85;
    border: 1px solid #d3d7cf;
    border-radius: 4px;
    cursor: pointer;
	cursor: hand;
}
</style>
<p>{lbl_info}</p>

<form method="post">
 <input type="hidden" id="layout" name="layout" value="{layout}" />
 <table>
  <tr>
   <td><label for="site_name">{lbl_site_name}:</label></td>
   <td><input type="text" id="site_name" name="site_name" size="30" value="{site_name}" /></td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{site_name_info}</td>
  </tr>
  <tr>
   <td><label for="site_slogan">{lbl_site_slogan}:</label></td>
   <td><input type="text" id="site_slogan" name="site_slogan" value="{site_slogan}" size="30" /></td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{site_slogan_info}</td>
  </tr>
  <tr>
   <td><label for="default_gadget">{lbl_default_gadget}:</label></td>
   <td>{default_gadget}</td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{default_gadget_info}</td>
  </tr>
  <tr>
   <td><label for="site_language">{lbl_site_language}:</label></td>
   <td>{site_language}</td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{site_language_info}</td>
  </tr>
  <tr>
   <td style="vertical-align: top;"><label for="theme">{lbl_default_theme}:</label></td>
   <td style="vertical-align: middle;">{themes}</td>
  </tr>
 </table>

 <div class="buttons">
  <input type="submit" name="Settings_complete" value="{next} &gt;" />
 </div>
</form>
<!-- END Settings -->
