<!-- BEGIN comment -->
<p class="news-update news-photo-update" style="padding-top: 0px; text-align: left; display: block;" id="news-photo-update-{photo_id}" align="left">
	<!-- BEGIN image -->	
	<a title="{safe_title}" name="{safe_title}" href="{photo_url}">
	<img style="text-align: left; margin-right: 10px; margin-bottom: 10px; max-width: 80px; max-height: 80px;" class="news-update-icon news-photo-update-icon" id="news-photo-update-{photo_id}-icon" src="{icon}" alt="{safe_title}" align="left" />
	</a>
	<!-- END image -->	
	<!-- BEGIN_title	
	<strong><a title="{safe_title}" name="{safe_title}" href="{photo_url}">{photo_title}</a></strong>
	<br />
	END_title -->	
	{photo_description}
</p>
<!-- END comment -->