<!-- BEGIN LoginBox -->
<div class="gadget users loginbox">
  <h2 id="layout_{actionName}_title">{title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="loginBox" action="{base_script}" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="Login" />
  <input type="hidden" name="redirect_to" value="{redirect_to}" />
  <div class="content">
    <p><label for="login_username">{username}:</label>
       <input name="username" id="login_username" type="text" style="direction: ltr;" value="" />
    </p>
    <p><label for="login_password">{password}:</label>
       <input name="password" id="login_password" type="password" style="direction: ltr;" value="" />
    </p>
    <p>
       	<label for="login_remember">{remember}</label>
		<input type="checkbox" name="remember" id="login_remember" value="true" />
    </p>
  </div>
  <div class="actions">
    <button type="submit" value="{login}">{login}</button>
	<div>{rpx-register}</div>
    <div>{forgot-password}</div>
    <div>{user-register}</div>
  </div>
  </form>
</div>
<div>&nbsp;</div>
<script type="text/javascript">
	var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
	document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
	{focus_onload}
</script>

<script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>
<!-- END LoginBox -->
<!-- BEGIN RegisterBox -->
{content}
<!-- END RegisterBox -->
