<!-- BEGIN group_access -->
<div class="gadget users removefriendbox">
  <h2>{title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="removefriendBox" action="{base_script}?user/removefriend/removed.html" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="RemovedFriend" />
  <input type="hidden" name="friend_id" value="{friend_id}" />
  <input type="hidden" name="redirect_to" value="{redirect_to}" />
  <div class="content">
    <p>
	<span>{request_string}</span>
    </p>
  </div>
  <div class="actions"><button type="submit" value="Yes">Yes</button>&nbsp;&nbsp;<button value="Cancel" onclick="location.href='{cancel_url}';">Cancel</button></div>
  </form>
</div>
<!-- END group_access -->
<!-- BEGIN already_in_group -->
<div class="gadget users removefriendbox">
{content}
</div>
<!-- END already_in_group -->
