<!-- BEGIN private -->
<div style="float: left; min-width: 270px;">
	<h3 class="accountNews-title">{title}</h3>
</div>
<div style="float: right; min-width: 270px;">
	<div style="text-align: center; float: right;" class="gadget menu news-sort-menu" id="news-sort-menu-updates-Groups">
		<div class="content">
			<ul class="ul_top_menu" style="text-align: left;">
				<li id="news-sort-update-Groups-2" class="menu_li_item menu_first">
					<a href="index.php?user/login.html#pane=Groups" target="_self" class="menu_a update-title update-title-selected">
					All Groups <!--[if gt IE 6]><!-->
					</a><!--<![endif]-->
					<!--[if lte IE 6]><table><tr><td><![endif]--><!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
				<li id="news-sort-update-sep-Groups-1" class="menu_li_item">
				&nbsp;&nbsp;&#149;&nbsp;&nbsp;
				</li>
				<li id="news-sort-update-Groups-3" class="menu_li_item menu_super menu_last">
					<a href="javascript:void(0);" target="_self" class="menu_a update-title">
					Show <!--[if gt IE 6]><!-->
					</a><!--<![endif]--> 
					<!--[if lte IE 6]><table><tr><td><![endif]-->
					<ul class="ul_sub_menu">
						<li id="news-sort-update-Groups-4" class="menu_li_item menu_first menu_last">
							<a href="javascript:void(0);" target="_self" class="sub_menu_a">More Options<!--[if gt IE 6]><!--></a><!--<![endif]-->
							<!--[if lte IE 6]><table><tr><td><![endif]--><!--[if lte IE 6]></td></tr></table></a><![endif]-->  
						</li>
					</ul><!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
			</ul>
		</div>
	</div>
	<!--
	<div style="float: right;">
		<span class="update-title update-title-selected">Most Recent</span>
		&nbsp;&nbsp;&#149;&nbsp;&nbsp;
	</div>
	-->
</div>
<!-- END private -->