<!-- BEGIN comment -->
<p class="news-update news-product-update" style="padding-top: 5px; text-align: left; display: block;" id="news-product-update-{product_id}" align="left">
	<a title="{safe_title}" name="{safe_title}" href="{product_url}">
	<img style="text-align: left; margin-right: 10px; margin-bottom: 10px; max-width: 80px; max-height: 80px;" class="news-update-icon news-product-update-icon" id="news-product-update-{product_id}-icon" src="{icon}" alt="{safe_title}" align="left" />
	</a>
	<strong><a title="{safe_title}" name="{safe_title}" href="{product_url}">{product_title}</a></strong>
	<br />{product_description}<br />
	<span class="news-product-update-price" style="display: inline; color: gray;">{price_str}</span>
</p>
<!-- END comment -->