<!-- BEGIN post_text -->
<!-- BEGIN table_start -->
					<div class="custom_page-post-holder custom_page-post-holder-__EVENODD__" id="custom_page-post-holder-{id}">
<!-- END table_start -->
<!-- BEGIN anchor -->
								<div style="padding: 0px; margin: 0px; font-size: 0.0001em;"><a name="{anchor_title}">&nbsp;</a></div>
<!-- END anchor -->
<!-- BEGIN header -->
								<div class="custom_page-post-header custom_page-post-header-__EVENODD__" id="custom_page-post-header-{id}" onclick="showPost({id}); location.href='#{anchor_title}';"><a href="javascript:void(0);" onclick="showPost({id}); location.href='#{anchor_title}';"><span class="custom_page-post-headerTitle" id="custom_page-post-headerTitle-{id}" style="font-weight: bold;">{title}</span></a>&nbsp;&nbsp;<span class="custom_page-post-timestamp" id="custom_page-post-timestamp-{id}">{timestamp}</span></div>
<!-- END header -->
								<div class="custom_page-post-text custom_page-post-__EVENODD__" id="custom_page-post-text-{id}">
								<!-- START_post -->
<!-- BEGIN title -->
									<h2 id="custom_page-post-title-{id}" class="custom_page-post-title">{title}&nbsp;&nbsp;</h2>
									<div class="custom_page-post-timestamp" id="custom_page-post-timestamp-{id}">{timestamp}</div>
									<div style="float: none; clear: both; font-size: 0.0001em; height: 0px;"></div>
<!-- END title -->
<!-- BEGIN splash -->
									{splash_html}
<!-- END splash -->
<!-- BEGIN description -->
									{content}
<!-- END description -->
								<!-- END_post -->
								</div>
<!-- BEGIN table_end -->
					</div>
<!-- END table_end -->
<!-- END post_text -->

<!-- BEGIN post_gadget -->
					<div width="100%" class="custom_page-post-{type} custom_page-post-{type}-__EVENODD__" id="custom_page-post-{type}-{id}">
						{content}
					</div>
<!-- END post_gadget -->