.menu-titlebar {
    text-align: left;
    background: #d3d7cf url(../../ControlPanel/images/titlebar-bg.png) repeat-x bottom left;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #d3d7cf;
    height: 2.4em;
}

.menu-titlebar span {
    float: left;
    padding: .4em;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
    border-left: 1px solid #ddd;
}

.menu-titlebar span img {
    width: 16px;
    vertical-align: -3px;
    margin-right: 2px;
}

#menus_area {
    float: left;
    width: 300px;
}

#menus_trees {
    margin: 0px;
    padding: 0px;
    width: 298px;
    height: 390px;
    border: 1px solid #d3d7cf;
    background-color: #f7f7f7;
    overflow: auto;
}

#menus_trees img {
    width: 16px;
    vertical-align: -4px;
    margin-right: 0.2em;
}

#menus_trees a {
    text-decoration: none;
}

#menus_trees a:hover {
    text-decoration: underline;
}

.menu_groups {
    margin:  0px;
    padding: 2px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    background-color: #f7f7f7;
    border-bottom: 1px dotted #d3d7cf;
}

.menu_tree_items {
    clear: both;
    font-size: 11px;
    text-align: right;
    padding-bottom: 16px;
}

.menu_groups .menu_tree_items {
    background-color: #e0e0e0;
}

.menu_levels .menu_tree_items {
    background-color: #f7f7f7;
}

.menu_tree_items .title {
    float: left;
}

.menu_tree_items .actions {
    float: right;
}

.menu_levels .menu_tree_items .actions {
    visibility: hidden;
}

div.menu_levels {
    padding: 0px;
    margin: 1px 0px 1px 14px;
}

#edit_area {
    float: left;
    width: 432px;
    margin-left: 10px;
    margin-bottom: 4px;
}

#edit_area  span {
    width: 400px;
    overflow: hidden;
}

#menus_edit {
    height: 360px;
    border: 1px solid #d3d7cf;
}

#tbl_group, #tbl_menu {
    padding:4px;
    text-align: left;
}

#tbl_group td, #tbl_menu td {
    padding: 8px 0px 0px 10px;
}

.ym-skip,
.ym-hideme,
.ym-print {
	position:absolute;
	top:-32768px;
	left:-32768px; /* LTR */
}

.ym-vlist {
	margin:0 0 1.5em 0;
	list-style-type:none;
	background: transparent;
	border: 0 none;
	text-align: left;
}

/* title */
.ym-vtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:100%;
	width:90%;
	padding:3px 0px 3px 10%; /* LTR */
	margin:0;
	color:#444;
	background-color:#fff;
	border-top:2px #ddd solid;
}

.ym-vlist ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	border-top:2px #ddd solid;
	border-bottom:2px #ddd solid;
}

.ym-vtitle + ul {
	border-top:4px #888 solid;
}

.ym-vlist ul ul {
	border: 0 none;
}

.ym-vlist li {
	float:left; /* LTR */
	width:100%;
	margin:0;
	padding:0;
	background-color:#fff;
}

.ym-vlist a,
.ym-vlist strong,
.ym-vlist span {
	display:block;
	padding:3px 0px 3px 10%;
	text-decoration:none;
	border-bottom:1px #ddd solid;
}

.ym-vlist a,
.ym-vlist a:visited {
	color:#444;
}

.ym-vlist li span {
	display:block;
	font-weight:bold;
	border-bottom:1px #ddd solid;
}

/* active list element */
.ym-vlist li.active {
	color:#fff;
	background-color:#444;
}

.ym-vlist li.active strong {
	font-weight:bold;
}

/* Level 1 */
.ym-vlist li a,
.ym-vlist li strong,
.ym-vlist li span { width:90%; padding-left:10%; } /* LTR */

.ym-vlist li a:focus,
.ym-vlist li a:hover,
.ym-vlist li a:active { background-color:#888; color:#fff; outline: 0 none; }

/* Level 2 */
.ym-vlist li ul li a,
.ym-vlist li ul li strong,
.ym-vlist li ul li span { width:80%; padding-left:20%; } /* LTR */

.ym-vlist li ul li a,
.ym-vlist li ul li a:visited { background-color:#f8f8f8; color:#333; }
.ym-vlist li ul li a:focus,
.ym-vlist li ul li a:hover,
.ym-vlist li ul li a:active { background-color:#888; color:#fff; }

/* Level 3 */
.ym-vlist li ul li ul li a,
.ym-vlist li ul li ul li strong,
.ym-vlist li ul li ul li span { width:70%; padding-left:30%; } /* LTR */

.ym-vlist li ul li ul li a,
.ym-vlist li ul li ul li a:visited{ background-color:#f0f0f0; color:#222; }
.ym-vlist li ul li ul li a:focus,
.ym-vlist li ul li ul li a:hover,
.ym-vlist li ul li ul li a:active { background-color:#888; color:#fff; }

/* Level 4 */
.ym-vlist li ul li ul li ul li a,
.ym-vlist li ul li ul li ul li strong,
.ym-vlist li ul li ul li ul li span { width:60%; padding-left:40%; } /* LTR */

.ym-vlist li ul li ul li ul li a,
.ym-vlist li ul li ul li ul li a:visited { background-color:#e8e8e8; color:#111; }
.ym-vlist li ul li ul li ul li a:focus,
.ym-vlist li ul li ul li ul li a:hover,
.ym-vlist li ul li ul li ul li a:active { background-color:#888; color:#fff; }

/* Menu */
.menu:after {height: 0; clear: both; content: "."; display: block; visibility: hidden;}
.menu {margin: none;position:static;}
.menu .content, .menu .content ul, .menu .content ul li {padding:0;}
.menu .content ul {position:relative; list-style-type: none; display:inline-block; z-index:1000;}
.menu li .ul_sub_menu {position:absolute; display:none;}
.menu li {background: url(); float: left;}
.menu ul table {
top:0;
left:0;
z-index:1000;
font-size:13px;
position:absolute;
border-collapse:collapse;
}
.menu a, .menu a:visited {
padding:4px;
line-height: 26px;
display: inline;
font-weight: bold;
text-decoration:none;
border:1px solid #fff;
border-bottom: none;
}
* html .menu a:hover {background:#ddd; color:#37a; position:relative;}
.menu ul li a:hover ul ul{visibility:hidden;}
.menu ul li a:hover ul a:hover ul ul{visibility:hidden;}
.menu ul li a:hover ul a:hover ul a:hover ul ul{visibility:hidden;}
.menu ul li a:hover ul a:hover ul a:hover ul a:hover ul ul {visibility:hidden;}
.menu ul li a:hover ul {visibility:visible; left:-31px; top:14px;}
.menu ul li a:hover ul a:hover ul{visibility:visible; top:-11px; left:148px;}
.menu ul li a:hover ul a:hover ul a:hover ul {visibility:visible;}
.menu ul li a:hover ul a:hover ul a:hover ul a:hover ul {visibility:visible;}
.menu ul li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul {visibility:visible;}

.menu .content ul .menu_li_item .ul_sub_menu {
margin-top:8px;
background: #FFFFFF; 
padding-left: 4px; 
padding-right: 4px;
overflow-x: hidden;
overflow-y: auto;
max-height: 231px;
}

.menu .content ul .menu_li_item .ul_sub_menu li a, 
.menu .content ul .menu_li_item  .ul_sub_menu li a:visited {
padding:4px;
line-height: 18px;
display: block;
font-weight: bold;
text-decoration:none;
}

.menu .content ul .menu_li_item .ul_sub_menu li a:hover {
padding:4px;
line-height: 18px;
display: block;
font-weight: bold;
text-decoration:none;
}

.menu .content ul .menu_super a .sub_menu_arrow {
font-size: 7px;
font-stretch: expanded;
font-weight: bold;
line-height: 8px;
padding-left: 0px; 
display: inline; 
}

.opentip .content .ym-vlist {
	width: 190px; 
	margin-bottom: 0px;
}

.opentip .content .ym-vlist .ul_sub_menu {
	max-height: 231px; 
	overflow-y: auto;
}
