<!-- BEGIN config -->
[Introduction]
<!-- BEGIN introduction_skip -->
skip = yes
<!-- END introduction_skip -->

[Authentication]
<!-- BEGIN authentication_skip -->
skip = yes
<!-- END authentication_skip -->
key = {key}
parent = {parentid}

[Requirements]
<!-- BEGIN requirements_skip -->
skip = yes
<!-- END requirements_skip -->

[Database]
<!-- BEGIN database_skip -->
skip = yes
<!-- END database_skip -->
host   = {db_host}
driver = {db_driver}
user   = {db_user}
database = {db_name}
port = {db_port}
prefix = {db_prefix}
password = {db_password}
gadgets = {gadgets}

[CreateUser]
<!-- BEGIN createuser_skip -->
skip = yes
<!-- END createuser_skip -->
<!-- BEGIN reseller -->
reseller = {reseller}
reseller_link = {reseller_link}
reseller_username = {reseller_username}
reseller_password = {reseller_password}
reseller_name = {reseller_name}
reseller_email = {reseller_email}
<!-- END reseller -->
<!-- BEGIN admin -->
admin_username = {admin_username}
admin_password = {admin_password}
admin_name = {admin_name}
admin_email = {admin_email}
<!-- END admin -->
<!-- BEGIN user -->
username = {username}
name = {name}
email = {email}
password = {password}
<!-- END user -->

[Settings]
<!-- BEGIN settings_skip -->
skip = yes
<!-- END settings_skip -->
<!-- BEGIN settings -->
site_name = {site_name}
site_description = {site_description}
site_language = {site_language}
home_page = {home_page}
theme = {theme}
<!-- END settings -->

[WriteConfig]
<!-- BEGIN writeconfig_skip -->
skip = yes
<!-- END writeconfig_skip -->
expires = {expires}
siteid = {siteid}
ownerid = {ownerid}
domains = {domains}
secureaddress = {secureaddress}
mailserver = {mailserver}
status = {status}

[Finished]
<!-- END config -->
