<!-- BEGIN comment -->
<p class="news-update news-gallery-update" style="padding-top: 5px; text-align: left; display: block;" id="news-gallery-update-{gallery_id}" align="left">
	<span class="news-gallery-update-icon-holder">
	<a title="{safe_title}" name="{safe_title}" href="{gallery_url}">
	<img style="text-align: left; margin-right: 10px; margin-bottom: 10px; max-width: 200px; max-height: 200px;" class="news-update-icon news-gallery-update-icon" id="news-gallery-update-{gallery_id}-icon" src="{icon}" alt="{description}" align="left" />
	</a>
	</span>
</p>
<!-- END comment -->