#add_gallery {
    width: 130px;
}

#filter_options {
    float: left;
    vertical-align: top;
}

#editor {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editor-preview {
    width: 100%;
    display: none;
}

#previewContent br {
    display: block;
}

#advanced_form {
    display: none;
}

#display_form {
    display: none;
}

/* New menu */
#left_menu {
    background: #fff url(../images/right_menu_bg.png) top left repeat-x;
    border: 1px solid #babdb6;
    margin: 0.5em;
    width: 10em;
    font-size: 85%;
}

#left_menu ul {
    list-style: none;
    padding: 0.5em;
    margin: 0;
}

#left_menu ul li {
    padding: 0.3em 0;
    margin: 0 0 0.3em 0;
    border-bottom: 1px solid #babdb6;
    text-align: left;
}

#left_menu ul li:last-child {
    border-bottom: 0;
}

#left_menu ul li a {
    width: 100%;
    display: block;
    color: #666;
    text-decoration: none;
}

#left_menu ul li a:hover {
    color: #000;
}

#layout-flashgallery-head h2 {
	display: none;
}

html body #main-section .layout-flashgallery-body .flash-gallery .horizontal_carousel .carousel_container .carousel_holder .carousel_item {
	padding-left: 10px;
	padding-right: 10px;
}

/* Ends */