<!-- BEGIN tip0 -->
<html>
<head>
  <link rel="stylesheet" media="screen" type="text/css" href="{JAWS_URL}gadgets/ControlPanel/resources/public.css" />
<script type="text/javascript" src="{JAWS_URL}libraries/prototype/prototype.js"></script>
<script type="text/javascript" src="{JAWS_URL}libraries/prototype/scriptaculous.js"></script>
<script type="text/javascript" src="{JAWS_URL}libraries/prototype/effects.js"></script>
<script type="text/javascript" src="{JAWS_URL}libraries/prototype/controls.js"></script>
</head>
<body style="background: url(); text-align: left;">
<div style="padding-left: 30px; padding-right: 30px; line-height: 22px;">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="0%"><h1><nobr>Where To?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nobr></h1></td>
<td width="100%"><span style="font-size: 0.9em;"><a href="javascript:void(0);" onclick="if(confirm('Are you sure you want to permanently hide this?')){location.href = '{referer}/admin.php?gadget=ControlPanel&action=HideTip&tip=tip0';}" target="_top">Don't show me this again</a>.</span></td>
</tr>
</table>
<p>&nbsp;</p>
<p class="CustomPage" style="display: none;"><a href="{referer}/admin.php?gadget=CustomPage&action=form" target="_top">I want to add a Page to my site</a>.</p>
<p class="CustomPage" style="display: none;"><a href="{referer}/admin.php?gadget=CustomPage&action=Admin" target="_top">I want to edit an existing Page</a>.</p>
<p class="Properties" style="display: none;"><a href="{referer}/admin.php?gadget=Properties&action=A_form" target="_top">I want to add a Property to my site</a>.</p>
<p class="Properties" style="display: none;"><a href="{referer}/admin.php?gadget=Properties" target="_top">I want to edit existing Properties on my site</a>.</p>
<p class="Forms" style="display: none;"><a href="{referer}/admin.php?gadget=Forms&action=form" target="_top">I want to add a Form to my site</a>.</p>
<p class="Map" style="display: none;"><a href="{referer}/admin.php?gadget=Maps&action=form" target="_top">I want to add a Map to my site</a>.</p>
<p class="Ads" style="display: none;"><a href="{referer}/admin.php?gadget=Ads&action=form" target="_top">I want to add Advertisements to my site</a>.</p>
<p class="FlashGallery" style="display: none;"><a href="{referer}/admin.php?gadget=FlashGallery&action=form" target="_top">I want to add a Photo Gallery to my site</a>.</p>
<p class="Calendar" style="display: none;"><a href="{referer}/admin.php?gadget=Calendar&action=form" target="_top">I want to add a Calendar to my site</a>.</p>
<p class="Menu" style="display: none;"><a href="{referer}/admin.php?gadget=Menu&action=Admin" target="_top">I want to edit the Menu on my site</a>.</p>
<p class="Settings" style="display: none;"><a href="{referer}/admin.php?gadget=Settings" target="_top">I want to change the Settings of my site</a>.</p>
<p class="Layout" style="display: none;"><a href="{referer}/admin.php?gadget=Layout" target="_top">I want to change the Layout of my site</a>.</p>
<p><span style="font-size: 1.1em;"><a href="{referer}/admin.php?gadget=ControlPanel" target="_top">I want to do something else</a>.</span></p>
<p>&nbsp;</p>
</div>
<script type="text/javascript">
Event.observe(window,"load",function(){
{script}
});
</script>
</body>
</html>
<!-- END tip0 -->
